/* колір основного тексту #212121 */
/* колір другорядного тексту #757575 */
/* колір mail tel footer rgba(255, 255, 255, 0.6); */
/* заголовок hero та adress footer  #FFFFFF */
/* фон hero та footer #2F303A */
/* основний фон #E5E5E5 */
/* фон наша команда #F5F4FA */
/* акцент #2196F3 */

:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --text-footer-contact: rgba(255, 255, 255, 0.6);
  --background-hero-address: #2f303a;
  --backgraund-main: #e5e5e5;
  --backgraund-team: #f5f4fa;
  --white-text-color: #ffffff;
  --typical-margin: 30px;
  --typical-padding: 94px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", Ubuntu, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;}

button {
  cursor: pointer;}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.studio {
  color: var(--title-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.header {
 border-bottom: 1px solid #ECECEC;
 background-color: #ffffff;
}
.header-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;}

.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-contact .header-contact-item + .header-contact-item {
  margin-left: 50px;
}
.logo-header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list .header-link {
  padding-top: 32px;
  padding-bottom: 32px; 
  display: block;
}

.header-link {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-item .link.current {
  color: var(--accent-color);}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;}

.header-link:hover {
  color: var(--accent-color);}

.header-link:focus {
  color: var(--accent-color);
  background-color: var(--backgraund-team);}

.header-contact .header-contact-link {
   padding-top: 32px;
  padding-bottom: 32px; 
  display: block;
}
.header-contact-link:hover {
  color: var(--accent-color);
  background-color: var(--backgraund-team);
}

.header-contact {
  display: flex;
  margin-left: auto;}

/* .header-contact .header-contact-item + .header-contact-item {
  margin-left: 50px;
} */
.header-contact-link {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);}

.header-contact-link:focus {
  color: var(--accent-color);
  background-color: var(--backgraund-team);
}
/* Main nav */
  .main-nav {
    display: flex;
    align-items: center;
  }

  .header-navigation {
  display: flex;
  align-items: center;
}

/* Hero  */
.hero {
  align-items: center;
  text-align: center;
  background-color: var(--background-hero-address);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: var(--typical-margin);
  flex-wrap: wrap;
  max-width: 696px;
  text-align: center;
margin: auto;
  
}
.hero-btn {
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: none;
}
/* Feature/ */

.feature-top-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.feature-item + .feature-item {
  margin-left: 30px;
}

.feature-text {
  line-height: 1.7;
  color: var(--primary-text-color);
  max-width: 270px;
}

.feature .list {
 display: flex;
 padding: 0;
 margin: 0;
}
/* About/ */
.about {
  background-color: var(--backgraund-team);
  padding: 0;
  margin: 0;
}
.about-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.about-item  + .about-item {
  margin-left: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
/* Team/ */
.team {
  background-color: var(--backgraund-team);
 
}
.team-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  color: var(--title-text-color);
}
.team-top-title {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.19;
  margin-top: var(--typical-margin);
  margin-bottom: 10px;
}
.team-item {
  width: 270px;
  /* border: 1px solid #ffffff; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
   color: var(--primary-text-color);
}
/* Footer/ */
.footer {
  background-color: var(--background-hero-address);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address-item {
  margin-bottom: 9px;
}
/* /* .footer-logo {
  margin-bottom: 20px;
} */
.footer-address-item:first-child {
  margin-top: 20px; 
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}


.studio-footer {
  color: var(--white-text-color);
  margin-bottom: 20px;
}
.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  padding-bottom: 9px;
 
}

.footer-link:hover {
  color: var(--accent-color);
}
.footer-link:focus {
  color: var(--accent-color);
}
.footer-address
.contact-link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
} 


/* Портфоліо */

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
 
}
.btn:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.portfollio-list:nth-child(1n,2n,3n){
  margin-top: 50px;
}
.portfollio-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #ffffff;
} 

.portfollio-list .portfolio-item {
  margin-left: 8px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  /* margin-bottom: 20px; */
  color: var(--primary-text-color);
}
.portfolio-picture {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

/* calc((100% - кол-ищ margin в строке * на значение margin ) / на кол-во элементов в строке) */
.portfolio-picture-item {

  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px; 
  margin-bottom: 30px;
  background: #FFFFFF;
}

.portfolio-picture-item:nth-child(1n){
margin-left: 0;
}
.portfolio-picture-item:nth-child(3n) {
  margin-right: 0;
} 
.portfolio-conect {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;;
}
..portfolio-conect:first-child {
  margin-bottom: 4px;
}

.portfolio-picture-item::not(:nth-child(3n)){
  margin-right: 30px;
}
.portfolio-picture-item:nth-last-child(7, 8, 9){
  margin-bottom: 0;
}
.portfolio-picture-item::not(:nth-child(3n)){
  margin-left: 30px;
}
